[merge]
	tool = vscode
[mergetool "tkdiff"]
	path = tkdiff
	trustExitCode = true
[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
	trustExitCode = true
[diff]
	guitool = p4merge
	tool = vscode
[difftool "kdiff3"]
	path = kdiff3
	renames = true
	cmd = \"kdiff3\" \"$LOCAL\" \"$REMOTE\"
[core]
	editor = code --wait
	#editor = atom --wait
	autocrlf = input
	packedGitLimit = 128m
	packedGitWindowSize = 128m
	quotepath = off
	trustctime = false
	preloadindex = true
	fscache = true
	excludesfile = /Users/restuta/.gitignore_global
	mergeoptions = --no-edit
	pager = diff-so-fancy | less --tabs=2 -RFX
[user]
	name = restuta
	email = restuta8@gmail.com
[gui]
[alias]
	reh = !git add -A && git reset --hard
	me = merge --no-ff --no-edit
	meff = merge --ff --no-edit
	sh = stash
	sha = stash --include-untracked
	st = status
	sts = status -s
	s = status -s
	f = fetch --prune
	fr = !git fetch && git rebase
	ch = checkout
	chm = checkout master
	chmp = !git checkout master && git pull
	co = commit
	com = commit -m
	coa = !git add -A :/ && git co -m
	coe = !git add -A :/ && git co
	cox = !git ex commit
	exc = !git cox
	cp = !git cherry-pick
	cpa = !git cherry-pick --abort
	pc = !git push -u && hub compare
	br = branch
	# show few most recently create branches
	brr = !git for-each-ref --sort='-committerdate' --format='%(refname)%09%(committerdate)' refs/heads | sed -e 's-refs/heads/--' | head -n 16
	recent = brr
	brvv = branch -vv #shows branches and corresponding remotes
	remotes = brvv
	r = rebase
	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort
	mt = mergetool
	mc = merge --continue
	ma = merge --abort
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative -n20 --all
	lgc = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative -n20
	assume-unchanged = update-index --assume-unchanged AppServer/Web.config
	assume-changed = update-index --no-assume-unchanged AppServer/Web.config
	revert-last-commit = reset --mixed HEAD~1
	delete-last-commit = reset --hard HEAD~1
	stash-co = !git add -A && git commit -m 'STASH'
	sru = !git sha && git r && git stash pop
	rebase-on-master = !git ch master && git pull && git ch - && git r master
	pull-master-and-merge = !git ch master && git pull && git ch - && git me master
	stash-pull-master-and-merge = !git sha && git ch master && git pull && git ch - && git me master && git stash pop
	stash-pull-unstash = !git sha && git pull && git stash pop
	copy-last-hash = !git log -n 1 --pretty=format:"%H" | pbcopy

	who = shortlog -sne
	local = !git lgc remotes/origin/master..HEAD
	origin = !git lgc HEAD..remotes/origin/master

	#restuta diff :), usage "git rdiff branch1..branch2 <file-path>"
	rdiff = diff --patience --ignore-all-space --ignore-blank-lines --ignore-space-at-eol --word-diff=color
	#by default ignore spaces in diffs
	# diff= diff --ignore-blank-lines --ignore-space-at-eol --ignore-all-space
	fdiff=!git diff --color | diff-so-fancy | less --tabs=4 -RFX

	#git svn
	svn-local = !git lgc remotes/git-svn..HEAD
	svn-origin = !git lgc HEAD..remotes/git-svn
	svnco = svn dcommit
	up = !git rev-list --left-right --count origin/master...HEAD | sed 's/[0-9]/& behind/' | sed 's/.*/& ahead/'



[pack]
	windowMemory = 128m
	deltaCacheSize = 128m
	packSizeLimit = 128m
[gc]
	auto = 256
[color]
	ui = true
[credential]
	helper =
[push]
	default = current
	autoSetupRemote = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[rerere]
	enabled = true
[http]
	postBuffer = 524288000
[remote "origin"]
	prune = true
[pull]
	rebase = true
[log]
	decorate = true
	abbrevCommit = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[fetch]
	prune = true
[commit]
	template = /Users/restuta/.stCommitMsg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
